<!DOCTYPE html>
<html>
<head>
    <title>Space Runner</title>
    <meta charset="utf-8">
    <meta name="description" content="Space Runner game" />
    <meta name="keywords" content="melonJS, HTML5, javascript, game, Engine, framework" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="/_common/css/main.css" title="style" />
    <link href="{{path}}css/style.css" rel="stylesheet" type="text/css" />

</head>
<body>

    {{{body}}}

</body>
</html>