<!DOCTYPE html>
<html>
<head>
    <title>Space Runner</title>
    <meta charset="utf-8">
    <meta name="description" content="Space Runner game" />
    <meta name="keywords" content="melonJS, HTML5, javascript, game, Engine, framework" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
</head>
<body>

    {{{body}}}

</body>
</html>