build
tools

# Vim .gitignore
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

/src/.idea/encodings.xml
/src/.idea/jsLibraryMappings.xml
/src/.idea/misc.xml
/src/.idea/modules.xml
/src/.idea/.name
/src/.idea/scopes/scope_settings.xml
/src/.idea/src.iml
/src/.idea/vcs.xml
/src/.idea/workspace.xml
