{{> header }}
<div id="game">
    <div id="jsapp"></div>
    <div id="screensUi"></div>
</div>
<div id="chat-client" data-bind="css:{disabled:!enabled()}">
    <div data-bind="if: enabled">
        <button type="button" data-bind="click:disable">Disable Chat</button>
        <div id="lines" data-bind="foreach: lines">
            <p>
                <span class="sender" data-bind="text: sender"></span>:
                <span class="message" data-bind="text: message"></span>
            </p>
        </div>
        <form data-bind="submit:send">
            <input type="text" data-bind="value: input"/>
            <button type="submit">Send</button>
        </form>
    </div>
    <div data-bind="ifnot: enabled">
        <button type="button" data-bind="click:enable">Enable Chat</button>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="css/main.css" title="style" />
<link href="css/screens-css/lobby.css" rel="stylesheet" type="text/css" />
<link href="css/screens-css/ship-select.css" rel="stylesheet" type="text/css" />
<link href="css/screens-css/ship-building.css" rel="stylesheet" type="text/css" />
<link href="css/screens-css/battle.css" rel="stylesheet" type="text/css" />
<link href="css/chat-client.css" rel="stylesheet" type="text/css" />
<link href="css/jquery.jscrollpane.css" rel="stylesheet" type="text/css" />
<link href="css/dhtmlxslider.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="js/vendor/pathfinding-browser.js"></script>
<script type="text/javascript" src="js/vendor/underscore.js"></script>

{{> js-bundle }}