
#ship-building-screen #itemboard 
{
    position: fixed;
    top: 5px;
    left: 5px;
    width:256px;
}

#ship-building-screen #itemboard .empty{
    width:54px;
    float:left;
}

#ship-building-screen #itemboard #item_main {
    width:148px;
    background-color:rgba(254,226,235,0.8);
    float:left;
    text-align:center;
    padding:0;
    
}

#ship-building-screen #itemboard #item_main .items{
    width:148px;
    height:64px;
    text-align:left;
    border:#000000 1px solid;
    padding:20px 0 0 10px;
}

#ship-building-screen #itemboard #item_main .release_item{
    border:#FFFFFF 1px solid;
}

#ship-building-screen #itemboard #item_main .chosen{
    border:#FFFF33 3px solid;
}

#ship-building-screen #itemboard #item_main .blackempty{
    background:#000000;
    width:148px;
    height:48px;
    text-align:center;
    padding:0px;
}

#ship-building-screen #itemboard #item_main .blackempty .globalbutton{
    width:130px;
    height:32px;
    text-align:center;
    padding:2px;
	cursor:pointer;
}

#ship-building-screen #itemboard #item_main .items #item_weapon, 
#ship-building-screen #itemboard #item_main .items #item_engine, 
#ship-building-screen #itemboard #item_main .items #item_power, 
#ship-building-screen #itemboard #item_main .items #item_console, 
#ship-building-screen #itemboard #item_main .items #item_components, 
#ship-building-screen #itemboard #item_main .items #item_door, 
#ship-building-screen #itemboard #item_main .items #item_wall
{
	cursor:pointer;
}