/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    margin:0;
    padding:0;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#itemboard {
    width:256px;
    float:left;
    background-color:#000000;
}

#info{
    float:left;
    width:640px;
    float:left;
}

#itemboard .empty{
    width:54px;
    float:left;
}

#itemboard #item_main {
    width:148px;
    background-color:#FEE2EB;
    float:left;
    text-align:center;
    padding:0;
}

#itemboard #item_main .items{
    width:148px;
    height:64px;
    text-align:left;
    border:#000000 1px solid;
    padding:20px 0 0 10px;
}

#itemboard #item_main .release_item{
    border:#FFFFFF 1px solid;
}

#itemboard #item_main .chosen{
    border:#FFFF33 3px solid;
}

#itemboard #item_main .blackempty{
    background:#000000;
    width:148px;
    height:48px;
    text-align:center;
    padding:0px;
}

#itemboard #item_main .blackempty .globalbutton{
    width:130px;
    height:32px;
    text-align:center;
    padding:2px;
	cursor:pointer;
}

#itemboard #item_main .items #item_weapon, 
#itemboard #item_main .items #item_engine, 
#itemboard #item_main .items #item_power, 
#itemboard #item_main .items #item_console, 
#itemboard #item_main .items #item_components, 
#itemboard #item_main .items #item_door, 
#itemboard #item_main .items #item_wall
{
	cursor:pointer;
}

#contextMenu{
	visibility:hidden;
}

#delete{
	font-size:14px;
}
