<button id="add-button">+Add</button>

<ul id="ship-list">
    {{#each hullsByTier}}
        <h3>Tier {{@key}}</h3>
        {{#each this}}
            <li>
                <a href="/ship-builder/?hull_id={{id}}">{{name}}</a>
                <button class="delete-button" value="{{id}}">[X]</button>
            </li>
        {{/each}}
    {{/each}}
</ul>

<a href="?">[Finish editing]</a>
<script src="/_common/vendor/jquery-1.9.1.js"></script>
<script type="text/javascript">
    $('.delete-button').click(function() {
        $(this).removeClass('delete-button').text('[...]');
        $.post('/ship/remove', {id: $(this).val()}, function(data) {
            if (data.error) {
                alert(JSON.stringify(data.error));
            } else {
                location.reload();
            }
        }).error(function() {
            alert('Error');
        });
    });
    $('#add-button').click(function() {
        location.href = "/choose-type";
    })
</script>