<h2>Choose your ship</h2>
<ul id="ship-list">
{{#each hulls}}
    <li><a href="#" data-id="{{id}}">{{name}}</a></li>
{{/each}}
</ul>
<a href="?edit=true">[Edit list]</a>

<script src="/_common/vendor/jquery-1.9.1.js"></script>
<script type="text/javascript">
    $('#ship-list').find('a').click(function(e) {
        e.preventDefault();
        $.post('/ship/pick', {id: $(this).attr('data-id')}, function(data) {
            if (data.error) {
                alert(JSON.stringify(data.error));
            } else {
                $('#ship-list').remove();
                $('body').append('<p>Waiting for another player...</p>');
                setInterval(function() {
                    $.post('/battle/issetup', function(data) {
                        if (data.isSetup) {
                            location.href = '/battle';
                        }
                    });
                }, 500);
            }
        }).error(function() {
            alert('Server error');
        });
    });
</script>