/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    margin:0;
    padding:0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background: url('/data/img/render/space.jpg') repeat;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#game{
    position: relative;
}
#screensPrebuiltUi {
    display: none;
}
#screensUi 
{
    position: absolute;
    top: 0px;
    left: 0px;
}

.button
{
    border: 2px solid black;
    padding: 4px;
    font-size: 30px;
    font-family: Verdana;
    background-color: green;
    color: white;
}

.button:hover {
    border: 2px solid black;
    cursor: pointer;
    background-color: limegreen;
}

.button.disabled {
    cursor: default;
    background-color: gray;
}

#debug-settings{
    border: 1px solid black;
    background-color: #DDD;
    position: fixed;
    top: 100px;
    right: 10px;
    width: 180px;
    max-height: 500px;
    overflow-y: scroll;
}

#debug-settings h5, h4{
    height: 18px;
    margin: 2px;
    padding: 2px;
}

#debug-settings input{
    width: 40px;
}

#debug-settings button{
    width: 90%;
    height: 30px;
    margin: 5px;
    font-weight: bold;
}
.point{
    cursor: pointer;
}

.menu-container{
    width: 400px;
    padding: 14px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: solid 1px black;
    background-color: #eeeeee;

    margin-left: 100px;
    margin-top: 50px;
}


