<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Space Runner</title>
    <meta name="description" content="Space Runner game" />
    <meta name="keywords" content="melonJS, HTML5, javascript, game, Engine, framework" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
</head>
<body>
    <header><div id="user-menu">{{username}}</div></header>
    {{{body}}}

</body>
</html>