#ship-building-screen .battle-button {
    background-color: green;
    position: fixed;
    bottom: 15px;
    right: 20px;
    border: 3px solid white;
    color: white;
    opacity:0.8;
}

#ship-building-screen .battle-button:hover {
    background-color: limegreen;
    opacity:1;
}

#ship-building-screen #itemboard 
{
    width: 160px;
    position: fixed;
    top: 5px;
    left: 5px;
    bottom: 5px;

    overflow-y: scroll;
}
#ship-building-screen #items{
    margin-left: 20px;
}
#ship-building-screen #itemboard .empty{
    float:left;
}

#ship-building-screen .item {
    width:100px;
    height:64px;
    background-color:rgba(254,226,235,0.8);
    float:left;
    text-align:center;
    border:#000000 1px solid;
    padding:15px 0 0 5px;
    cursor:pointer;
    position: relative;
}
#ship-building-screen .item img{
    position: absolute;
    top: 5px;
    left: 5px;
}
#ship-building-screen .item span{
    position: absolute;
    bottom: 7px;
    left: 5px;
    right: 5px;
}
#ship-building-screen .chosen{
    border:#FFFF33 3px solid;
}

#ship-building-screen .blackempty{
    background:#000000;
    text-align:center;
    padding:0px;
}

#ship-building-screen .globalbutton{
    width:130px;
    height:32px;
    text-align:center;
    padding:2px;
	cursor:pointer;
}