#ship-select-screen ul {
    list-style-type: none;
}

#ship-select-screen .race-button {
    background-color: green;
}

#ship-select-screen .race-button:hover {
    background-color: greenyellow;
}

#ship-select-screen .race-button.selected 
{
    color: yellow;
}

#ship-select-screen .ship-select-buttons {
    position: absolute;
    top: 60px;
    left: 40px;
    
}
#ship-select-screen .ships {
    position: absolute;
    top: 0px;
    left: 200px;
    width: 600px;
    height: 500px;
}

#ship-select-screen .ship-button  
{
    background-color: #0099FF;
    font-size: 20px;
    float: left;

}
#ship-select-screen .ship-button img{
    width: 200px;
    height: 200px;
    float: none;
}
#ship-select-screen .ship-button:hover
{
    background-color: #66CCFF;
}

